subject /usr/sbin/nginx o {
    /               h
	/etc				r
	/etc/grsec2			h
	/etc/gshadow			h
	/etc/gshadow-			h
	/etc/passwd			h
	/etc/ppp			h
	/etc/samba/smbpasswd		h
	/etc/shadow-		h
	/lib		x
	/lib/modules h
	/lib64		x
	/lib64/modules	h
    /run/nginx.pid          wd
	/usr/lib	x
	/usr/share/zoneinfo		r
	/var/tmp/fastcgi_temp	rwcd
	/var/tmp/client_body_temp rwcd
	/var/cache/nginx rwcd
	/var/log/nginx w
	/proc/sys/kernel/ngroups_max r
    -CAP_ALL
	+CAP_DAC_OVERRIDE
	+CAP_SYS_NICE
	+CAP_SYS_RESOURCE
	+CAP_SETGID
	+CAP_SETUID
    bind    disabled
    connect disabled
}
